.profile-header {
  display: flex;
  margin-top: 50px;
  padding: 30px;
  /* background-color: red; */
}
.profile-title {
  display: flex;
}

.profile-info {
  margin-top: 10px;
  margin-left: 100px;
}

.profile-info-detail {
  display: flex;
  margin-top: 20px;
}

.profile-user-name {
  font-size: 30px;
  font-weight: 500;
}
button {
  margin-left: 20px;
  color: #100f24;
  font-weight: 600;
  background-color: white;
  border: 1px solid silver;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.profile-followers {
  margin-left: 30px;
  color: #100f24;
  font-size: 16px;
}
.profile-following {
  margin-left: 30px;
  color: #100f24;
  font-size: 16px;
}
.profile-full-name {
  margin-top: 20px;
  color: #100f24;
  font-size: 20px;
  font-weight: 600;
}
